<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>706569904579-pu53mh3i9jot5bf2si1o2e7dkbqi6dm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706569904579-pu53mh3i9jot5bf2si1o2e7dkbqi6dm9</string>
	<key>API_KEY</key>
	<string>AIzaSyDdRAXRdOc6CDFjRD_O8uj3hjN3w2G5Ujo</string>
	<key>GCM_SENDER_ID</key>
	<string>706569904579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AliceChang.Moving</string>
	<key>PROJECT_ID</key>
	<string>moving-47771</string>
	<key>STORAGE_BUCKET</key>
	<string>moving-47771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706569904579:ios:522cead020b11100</string>
	<key>DATABASE_URL</key>
	<string>https://moving-47771.firebaseio.com</string>
</dict>
</plist>